<nav>
    <ul class="nav justify-content-end">
        {% if session['user'] %}
        <li class="nav-item">
            <span>{{ session['user'] }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" href="#" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="#" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>