<nav>
    <ul class="nav justify-content-end">
        {% if session['user'] %}
        <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/add" tabindex="-1" aria-disabled="true">Add new</a>
        </li>

        <li class="nav-item" style="margin-right: -1.8rem;">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">{{ session['user']['name'] }}, </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" href="/auth/logout" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="/auth/login" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>